@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {

    font-family: 'Poppins', sans-serif;

}
.resultados{
    display:flex;
    flex-wrap: wrap;
}
.time{
    width:10%;
}
