@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {

    font-family: 'Poppins', sans-serif;

}
.centralizar {
    display:flex;
    justify-content: center;
    align-items: center;
}
.msgCampeao{
    font-size:70px;
    color:green;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-bottom:20px;
}
.btnIniciarCamp{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:16px;
    padding:16px;
    border:1px solid black;
    border-radius:20px;
    background-color:black;
    color:white;
    cursor:pointer;
    margin:10px;
}