@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {

    font-family: 'Poppins', sans-serif;

}
.cabecalho{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    font-family: 'Poppins', sans-serif;
}
.formIndex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.labelFormIndex{
    margin:15px;
    padding:5px;
    border: 1px solid;
    border-color:grey;
    border-radius:6px;
    width:20%;
}
.labelFormRegras{
    width:20%;
    margin:15px;
    padding:5px;
    border: 1px solid;
    border-color:grey;
    border-radius:6px;
    height: 130px;
}
.centralizar {
    display:flex;
    justify-content: center;
    align-items: center;
}
.btnCadastrar{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:16px;
    padding:16px;
    border:1px solid black;
    border-radius:20px;
    background-color:greenyellow;
    cursor:pointer;
}